html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

.game-container {
  position: relative;
  width: 100vh;
  height: 100vw;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  gap: 10px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}
