@import '@/helpers/breakpoints.css';

.errorPageContainer {
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 24px;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
  text-align: center;
  margin: 0 0 32px;
  color: var(--ant-color-text);
}

.text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  text-align: center;
  color: var(--ant-color-text-secondary);
}

.backButton {
  margin: 64px 0 0;
}

@media (--lg) {
  .backButton {
    margin: 48px 0 0;
  }
}

@media (--md) {
  .title {
    font-size: 48px;
    margin: 0 0 24px;
  }

  .text {
    font-size: 20px;
  }

  .backButton {
    margin: 40px 0 0;
  }
}

@media (--sm) {
  .text {
    font-size: 16px;
  }

  .backButton {
    margin: 32px 0 0;
  }
}
